.App {
  background-image: url("images/webeste_kep_02.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
    -webkit-background-size: cover;
}

/*.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid > div {
  flex-basis: calc(20% - 40px);
}*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo {
  color: antiquewhite;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Box {
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: calc(20% - 40px);
    background-image: linear-gradient(white, transparent);
}

.Box:hover {
    background-color: #f8f9fa;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
